name: flutter

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - "*.*"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: stable
      - run: flutter format .
      - name: "Check that there are no changes after formatting"
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo Working directory not clean after formatting. Please apply the
            echo following changes:
            git diff
            false
          fi
      - run: flutter analyze
      - run: flutter test --coverage
      - uses: codecov/codecov-action@v1
      - run: flutter packages pub publish --dry-run

  build:
    needs: check
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
        flutter_channel: [beta, stable]
        include:
          - os: macOS-latest
            flutter_build: ios --no-codesign
            marker: ios/*.podspec
          - os: ubuntu-latest
            flutter_build: apk
            marker: example/lib/main.dart
          - os: windows-latest
            flutter_build: apk
            marker: android/build.gradle
    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ matrix.flutter_channel }}
        # Run only if a marker file exists. This indicates that the package
        # should be tested against this environment.
        if: hashFiles(matrix.marker) != ''

      - working-directory: example
        run: flutter build ${{ matrix.flutter_build }} --debug
        # Run only if a marker file exists. This indicates that the package
        # should be tested against this environment.
        if: hashFiles(matrix.marker) != ''
